{% extends 'base.html' %}
{% load static %}

{% block content %}
        <main>
            
            <!-- ================================================================SECCION HERO==================================================================== -->
            <section class="p-5 text-center bg-dark text-white main-section" style="background-image: url('URL_DE_TU_IMAGEN_DE_FONDO'); background-size: cover; background-position: center; min-height: 400px; display: flex; align-items: center; justify-content: center;">
                <div class="title bg-dark bg-opacity-75 p-4 rounded">
                    <h1 class="display-3 fw-bold text-warning">Trivens Smart Shop</h1>
                    <p class="lead mb-4">Precios confiables y productos de calidad.</p>
                    <a href="/tienda/" class="btn btn-primary btn-lg boton_store">Ver Tienda</a>
                </div>
            </section>
            <!-- ==================================================================================================================================================== -->


            <!-- ================================================================SECCION NOSOTROS==================================================================== -->
            <section class="container py-5 section-info">
                <h2 class="text-center mb-5 fw-bold title-info">¿Por qué nosotros?</h2>
                <div class="row text-center">
                    <div class="col-md-3 mb-4">
                        <div class="p-4 border rounded shadow-sm h-100 d-flex flex-column align-items-center logues">
                            <i class="fa-solid fa-bolt fa-3x text-primary mb-3"></i>
                            <p class="fw-bold">Compra Rápida</p>
                        </div>
                    </div>
                    <div class="col-md-3 mb-4">
                        <div class="p-4 border rounded shadow-sm h-100 d-flex flex-column align-items-center logues">
                            <i class="fa-solid fa-shield fa-3x text-success mb-3"></i>
                            <p class="fw-bold">Pago Seguro</p>
                        </div>
                    </div>
                    <div class="col-md-3 mb-4">
                        <div class="p-4 border rounded shadow-sm h-100 d-flex flex-column align-items-center logues">
                            <i class="fa-solid fa-truck-fast fa-3x text-warning mb-3"></i>
                            <p class="fw-bold">Envío Gratis</p>
                        </div>
                    </div>
                    <div class="col-md-3 mb-4">
                        <div class="p-4 border rounded shadow-sm h-100 d-flex flex-column align-items-center logues">
                            <i class="fa-solid fa-credit-card fa-3x text-danger mb-3"></i>
                            <p class="fw-bold">Múltiples Métodos</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- =================================================================================================================================================== -->

            <!-- =======================================================SECCION PRODUCTOS DESTACADOS==================================================================== -->
            <!-- <section class="container py-5 bg-light products-section">
                <div class="products-title text-center mb-5">
                    <h2 class="fw-bold">Productos Destacados</h2>
                </div>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 articles-products">
                {% for producto in productos %}
                    <div class="col">
                        <div class="card h-100 shadow-lg products">
                            <img src="{{ producto.imagen.url }}" class="card-img-top products-img" alt="Goku SSj Funko" style="height: 250px; object-fit: cover;">
                            <div class="card-body d-flex flex-column products-info">
                                <h5 class="card-title product-title">{{ producto.title }}</h5>
                                <p class="card-text product-description flex-grow-1">{{ producto.description }}</p>
                                <button class="btn-sm btn-danger" ><span class="fs-4 fw-bold text-primary price">Cantidad:{{ producto.cantidad }}</span></button>
                                <div class="d-flex justify-content-between align-items-center mt-3">
                                    <span class="fs-4 fw-bold text-success price">{{ producto.price }}$</span>
                                    <button class="btn btn-primary btn-sm">Añadir</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </section> -->
            <!-- =================================================================================================================================================== -->


            <!-- =======================================================SECCION CATEGORIAS========================================================================== -->
            <section class="container py-5 section-category">
                <div class="products-title text-center mb-5">
                    <h2 class="fw-bold">Explora Nuestras Categorías</h2>
                </div>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    
                    <div class="col">
                        <div class="card text-center bg-info text-white shadow-lg category" style="min-height: 200px; display: flex; align-items: center; justify-content: center;">
                            <div class="card-body category-title">
                                <h3 class="card-title fw-bold">Salud y Belleza</h3>
                                <button class="btn btn-light mt-3">Ver más</button>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card text-center bg-warning text-dark shadow-lg category" style="min-height: 200px; display: flex; align-items: center; justify-content: center;">
                            <div class="card-body category-title">
                                <h3 class="card-title fw-bold">Higiene</h3>
                                <button class="btn btn-dark mt-3">Ver más</button>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card text-center bg-danger text-white shadow-lg category" style="min-height: 200px; display: flex; align-items: center; justify-content: center;">
                            <div class="card-body category-title">
                                <h3 class="card-title fw-bold">Comestibles</h3>
                                <button class="btn btn-light mt-3">Ver más</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- =================================================================================================================================================== -->

        <!-- =======================================================FOOTER DE CONTACTOS========================================================================== -->
        <footer class="bg-dark text-white pt-4 pb-2">
            <div class="container text-center">
                <div class="social-media mb-3">
                    <a href="#" class="text-white mx-2"><i class="fa-brands fa-instagram fa-2x"></i></a>
                    <a href="#" class="text-white mx-2"><i class="fa-brands fa-tiktok fa-2x"></i></a>
                    <a href="#" class="text-white mx-2"><i class="fa-brands fa-facebook fa-2x"></i></a>
                    <a href="+58 422-5924400" class="text-white mx-2"><i class="fa-brands fa-whatsapp fa-2x"></i></a>
                </div>
                <div class="footer-logo mb-3">
                    <img src="{% static 'img/Logo_Triven.svg' %}" width="70" alt="Logotipo Trivens">
                </div>
                <p class="text-muted"><small>&copy; 2025 Trivens Smart Shop. Todos los derechos reservados.</small></p>
            </div>
        </footer>
{% endblock %}